<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Weather Data API</title>
</head>
<body>
<header>
    <h1>Weather Data API</h1>
</header>
<p>URL format: http://127.0.0.1:5000/api/v1/station/date</p>
<p>URL Example: http://127.0.0.1:5000/api/v1/10/19881025</p>
<p>URL Example for one station: http://127.0.0.1:5000/api/v1/10</p>
<p>URL Example for one year: http://127.0.0.1:5000/api/<strong>v2</strong>/10/1968</p>
<p>Min date: {{minimum_date}}</p>
<p>Max date: {{maximum_date}}</p>
<p>Stations in the base: {{stations_number}}</p>
<p>{{stations_table | safe}} </p>
</body>
</html>